<h1>All Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %>
    <br>
    <%= link_to "Delete restaurant", restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure you want to delete this restaurant" } %></li>
  <% end %>
</ul>
<%= link_to "Create new restaurant", new_restaurant_path %>
